<h1>Liste des années budgetaires</h1>

<%= render  'error' %>

<%= link_to 'Nouvelle années budgetaire', new_season_path, class: 'btn btn-primary',
  data: { toggle: 'modal', target: '#newSeason' } %>

<div class="modal" id="newSeason">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Nouvelle année budgetaire</h2>
      </div>
      <div class="modal-body">
        <%= form_for @season do |f| %>
          <div class="form-group">
            <%= f.text_field :year, placeholder: '2018', class: 'form-control' %>
          </div>
          <%= f.submit 'Confirmer', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% @seasons.each do |season| %>
  <%= season.year %> 
<% end %>
