<h1 class="text-center">Plan comptable des opérations publiques (P.C.O.P.) 2006</h1>
<%= link_to 'Créer un compte PCOP', new_pcop_path, class: 'btn btn-sm btn-success' %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>compte N°</th>
      <th>Intitulés</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |pcop_category| %>
      <tr>
        <td><%= pcop_category.id %></td>
        <td><%= pcop_category.name %></td>
        <td><%=  %></td>
      </tr>
      <% pcop_category.accounts.each do |pcop_account| %>
        <tr>
          <td><%= pcop_account.id %></td>
          <td><%= pcop_account.name %></td>
          <td><%=  %></td>
        </tr>
        <% pcop_account.sub_accounts.each do |pcop_sub_account| %>
          <tr>
            <td><%= pcop_sub_account.id %></td>
            <td><%= pcop_sub_account.name %></td>
            <td><%=  %></td>
          </tr>
          <% pcop_sub_account.rubrics.each do |rubric| %>
            <tr>
              <td><%= rubric.id %></td>
              <td><%= rubric.name %></td>
              <td><%=  %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
